<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Us</h1>
                <p class="text-center sub-heading">Learn Coding in Mern stack</p>
                <div class="row">
                {{!-- left side  --}}
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="images/about_img.jpg" class="img-fluid rounded" alt="coding_img"> 
                        </figure>
                    </div>
                {{!-- right-side --}}
                    <div class="col-md-6 col-12 hero-text d-flex align-items-start justify-content-center flex-column">
                        <h1>Javascript Developer</h1>
                        <h1>Computer Engineer</h1>
                        <p>Welcome to my website<span class="bold-style"> Professional JavaScript for Web Developers is the essential guide to next-level JavaScript development. </span></p>
                        <button class="btn-style btn-primary">Read More</button>
                    </div>
                 </div>
            </div>
        </div>
    </div>