<div class="container-fluid gallery-style mt-4" id="galleryid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div  class="row">
                <div class="col-md-4 col-12 mx-auto">
                    <figure>
                        <img src="images/react.png" alt="reactjs"   class="img rounded"  title="react_js" >
                    </figure>
                </div>
                <div class="col-md-4 col-12 mx-auto">
                    <figure>
                        <img src="images/npm.png" alt="npm"  class="img rounded pt-5" title="npm_js">
                    </figure>
                </div>
                <div class="col-md-4 col-12 mx-auto">
                    <figure>
                        <img src="images/nodejs.png" alt="nodejs"  class="img rounded pt-3" title="node_js">
                    </figure>
                </div>
                <div class="col-md-4 col-12 mx-auto">
                    <figure>
                        <img src="images/mongodb.png" alt="mongodb"   class="img rounded pt-3" title="mongodb">
                    </figure>
                </div>
                <div class="col-md-4 col-12 mx-auto">
                    <figure>
                        <img src="images/htmlcssjs.jpeg" alt="htmlcssjs"   class="img rounded pt-3"  title="htmlcssjs">
                    </figure>
                </div>
                <div class="col-md-4 col-12 mx-auto">
                    <figure>
                        <img src="images/express.png" alt="express" class="img rounded pt-3" title="express">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
    